/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.About {
  background: linear-gradient(#02acf4, #FEFEFE);
  color: #14141e;
  height: 75vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-top: 20vh; }
  .About .About-Content {
    align-self: center;
    width: 60%;
    max-height: 60vh;
    margin-right: 20px;
    overflow: scroll; }
    .About .About-Content ul {
      list-style-type: circle; }
      .About .About-Content ul li {
        margin-bottom: 10px; }
  .About .About-Image {
    align-self: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .About .About-Image img {
      border: 3px #5C5D8D solid;
      border-radius: 50%;
      box-shadow: 5px 5px 10px gray;
      align-self: center;
      width: 100%;
      height: auto;
      max-height: 500px;
      max-width: 340px; }
