@import '_variables.scss';

.About {
  @include main-bg-rev;
  color: $black;
  height: $main-height;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-top: 20vh;

  .About-Content {
    background-color: transparentize($white, 0.3);
    align-self: center;
    width: 60%;
  }

  .About-Image {
    align-self: center;
    width: 30%;
    @include flexbox-center;

    img {
      border: 3px $primary solid;
      border-radius: 50%;
      box-shadow: 5px 5px 10px gray;
      align-self: center;
      width: 100%;
      height: auto;
    }
  }
}