@import '_variables.scss';

.About {
  @include main-bg-rev;
  color: $black;
  height: $main-height;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-top: 20vh;

  .About-Content {
    align-self: center;
    width: 60%;
    max-height: 60vh;
    margin-right: 20px;
    overflow: scroll;

    ul {
      list-style-type: circle;

      li {
        margin-bottom: 10px;
      }
    }
  }

  .About-Image {
    align-self: center;
    width: 30%;
    @include flexbox-center;

    img {
      border: 3px $p-dark solid;
      border-radius: 50%;
      box-shadow: 5px 5px 10px gray;
      align-self: center;
      width: 100%;
      height: auto;
      max-height: 500px;
      max-width: 340px;
    }
  }
}