/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Header {
  background: linear-gradient(#02ACF4, #FEFEFE);
  color: #14141e;
  height: 20vh;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  z-index: 9999;
  top: 0;
  position: fixed; }
  .Header h1 {
    margin-top: 0;
    padding-top: 5%;
    font-size: 60px;
    box-sizing: border-box; }

/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Main {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/ec-bg.jpg");
  color: #14141e;
  height: 80vh;
  padding-top: 20vh; }
  .Main h1 {
    margin-top: 0;
    padding-top: 30px;
    font-size: 60px; }

.About, .Issues, .Plan, .Involve {
  background: linear-gradient(#FEFEFE, #02ACF4);
  color: #14141e;
  height: 80vh; }
  .About h1, .Issues h1, .Plan h1, .Involve h1 {
    margin-top: 0;
    padding-top: 30px;
    font-size: 60px; }

/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.About, .Issues, .Plan, .Involve {
  background: linear-gradient(#FEFEFE, #02ACF4);
  color: #14141e;
  height: 80vh; }
  .About h1, .Issues h1, .Plan h1, .Involve h1 {
    margin-top: 0;
    padding-top: 30px;
    font-size: 60px; }

/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Footer {
  color: #14141e;
  height: 20vh; }
  .Footer h1 {
    margin-top: 0;
    padding-top: 20px;
    font-size: 60px; }

.App {
  text-align: center;
  min-height: 100vh; }
