/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Header {
  background: #02ACF4;
  color: #14141e;
  height: 10vh;
  width: 100%;
  z-index: 9999;
  top: 0;
  position: fixed; }
  .Header h1 {
    margin: 0;
    padding-top: 5px;
    font-size: 60px;
    box-sizing: border-box; }

/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Main {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/ec-bg.jpg");
  color: #14141e;
  height: 90vh;
  padding-top: 10vh;
  display: flex;
  justify-content: flex-start; }
  .Main .Main-Content {
    background-color: rgba(255, 255, 255, 0.7);
    align-self: center;
    width: 50%; }

/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.About {
  background: linear-gradient(#FEFEFE, #02ACF4);
  color: #14141e;
  height: 90vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  border-bottom: 2px solid #878787; }
  .About .About-Content {
    background-color: rgba(255, 255, 255, 0.7);
    align-self: center;
    width: 50%; }
  .About .About-Image {
    align-self: center;
    width: 50%; }
    .About .About-Image img {
      border: 3px #5C5D8D solid;
      border-radius: 50%; }

/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Issues {
  background: linear-gradient(#02acf4, #FEFEFE);
  color: #14141e;
  height: 90vh;
  display: flex;
  justify-content: space-between; }
  .Issues .Issues-Content {
    background-color: rgba(255, 255, 255, 0.7);
    align-self: center;
    width: 50%; }
  .Issues .Issues-Image {
    align-self: flex-end; }

/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Involve {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/ec-bg2.jpg");
  color: #14141e;
  height: 90vh;
  display: flex;
  justify-content: flex-end; }
  .Involve .Involve-Content {
    background-color: rgba(255, 255, 255, 0.7);
    align-self: center;
    width: 50%; }

/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Footer {
  color: #14141e;
  height: 10vh; }
  .Footer h1 {
    margin: 0;
    padding-top: 5px;
    font-size: 60px;
    box-sizing: border-box; }

.App {
  text-align: center;
  min-height: 100vh; }
