/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
@keyframes test {
  from {
    left: 0px; }
  to {
    left: 200px; } }

.Footer {
  background-color: #0086c3;
  color: #ffffff;
  height: 5vh;
  max-height: 5vh;
  display: flex;
  flex-flow: row nowrap;
  border-top: 2px solid gray; }
  .Footer .copyright {
    align-self: center;
    width: 100%;
    margin-left: 20px; }
  .Footer .social {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-around; }
    .Footer .social i {
      color: white; }
    .Footer .social i:hover {
      color: #ff5252; }
