@import '_variables.scss';

.Footer {
  // @include main-bg;
  background-color: $p-dark;
  color: $white;
  height: 5vh;
  max-height: 5vh;
  display: flex;
  flex-flow: row nowrap;
  border-top: 2px solid gray;

  .copyright {
    align-self: center;
    width: 100%;
    margin-left: 20px;
  }

  .social {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-around;

    i {
      color: white;
    }

    i:hover {
      color: $secondary;
    }
  }
}