/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Header {
  color: #14141e;
  min-height: 20vh;
  max-height: 20vh;
  width: 100%;
  z-index: 9999;
  top: 0;
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start; }
  .Header .header-top-row {
    background: linear-gradient(#02ACF4, #FEFEFE); }
  .Header .header-bottom-row {
    display: flex;
    background-color: #fefefe;
    overflow: hidden; }
    .Header .header-bottom-row img {
      align-self: flex-end; }
    .Header .header-bottom-row h3 {
      align-self: center; }
