@import '_variables.scss';

.Involve {
  @include parallax;
  background-image: url('/images/ec-bg2.jpg');
  color: $black;
  height: $main-height;
  display: flex;
  justify-content: flex-end;
  padding-top: 20vh;

  .Involve-Content {
    background-color: transparentize($white, 0.3);
    align-self: center;
    width: 50%;
    margin-right: 20px;
  }
}