/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Involve {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/ec-bg2.jpg");
  color: #14141e;
  height: 75vh;
  display: flex;
  justify-content: flex-end;
  padding-top: 20vh; }
  .Involve .Involve-Content {
    background-color: rgba(255, 255, 255, 0.7);
    align-self: center;
    width: 50%;
    margin-right: 20px; }
