/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Involve {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/ec-bg2.png");
  color: #14141e;
  height: 75vh;
  display: flex;
  justify-content: flex-end;
  padding-top: 20vh; }
  .Involve .Involve-Content {
    color: black;
    align-self: center;
    width: 50%;
    margin-right: 20px;
    text-align: center; }
    .Involve .Involve-Content ul {
      list-style-type: none; }
      .Involve .Involve-Content ul li {
        margin-bottom: 20px;
        font-size: 20px;
        background: -webkit-linear-gradient(to left, #02acf4, rgba(254, 254, 254, 0));
        /*Safari 5.1-6*/
        background: -o-linear-gradient(to left, #02acf4, rgba(254, 254, 254, 0));
        /*Opera 11.1-12*/
        background: -moz-linear-gradient(to left, #02acf4, rgba(254, 254, 254, 0));
        /*Fx 3.6-15*/
        background: linear-gradient(to left, #02acf4, rgba(254, 254, 254, 0));
        /*Standard*/
        border-right: 5px solid blue;
        overflow: visible;
        white-space: nowrap; }
        .Involve .Involve-Content ul li a {
          display: block;
          color: red;
          padding: 10px 16px;
          text-decoration: none;
          text-shadow: 1px 1px white; }
        .Involve .Involve-Content ul li a:hover {
          background-color: blue; }
