/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Issues {
  background: linear-gradient(#02acf4, #FEFEFE);
  color: #14141e;
  height: 90vh;
  display: flex;
  justify-content: space-between; }
  .Issues .Issues-Content {
    background-color: rgba(255, 255, 255, 0.7);
    align-self: center;
    width: 50%; }
  .Issues .Issues-Image {
    align-self: flex-end; }
