/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Issues {
  background: linear-gradient(#02acf4, #FEFEFE);
  color: #14141e;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  padding-top: 20vh; }
  .Issues .Issues-Content {
    align-self: center;
    width: 80%;
    max-height: 60vh;
    margin-left: 20px;
    overflow: scroll; }
    .Issues .Issues-Content ul {
      list-style-type: circle; }
      .Issues .Issues-Content ul li {
        margin-bottom: 10px; }
  .Issues .Issues-Image {
    align-self: flex-end; }
