@import '_variables.scss';

.Main {
  @include parallax;
  background-image: url('/images/ec-bg.png');
  color: $black;
  height: $main-height;
  padding-top: 20vh;
  display: flex;
  flex-flow: column nowrap;
  // justify-content: center;

  .Main-Quote {
    align-self: center;
    margin: 0 0 40px 40px;
    font-size: $huge;
    color: $white;
    font-weight: $font-bold; 
    text-shadow: 6px 6px 6px black;
  }

  .endorsements {
    // background-color: transparentize($white, 0.3);
    color: black;
    font-size: 30px;
    width: 60%;
    margin-bottom: 30px;
    margin-left: 40px;

    p {
      padding: 5px 10px;
      // border-left: 4px solid blue;
      // border-right: 4px solid blue;
      background-color: transparentize($white, 0.8);
      border-radius: 10px;
    }
  }

  .help {
    width: 40%;
    margin-left: 50px;

    ul {
      list-style-type: none;

      li {
        // line-height: 40px;
        margin-bottom: 20px;
        font-size: 20px;
        // background-color: transparentize($base-gradient, 0.5);
        @include header-bg-right;
        border-left: 5px solid blue;
        overflow: visible;
        white-space: nowrap;

        a {
          display: block;
          color: red;
          padding: 10px 16px;
          text-decoration: none;
          text-shadow: 1px 1px white;
        }

        a:hover {
          background-color: blue;
          // border-left: 5px solid red;
        }
      }
    }
  }
}
