/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Main {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/ec-bg.jpg");
  color: #14141e;
  height: 75vh;
  padding-top: 20vh;
  display: flex;
  flex-flow: column nowrap; }
  .Main .Main-Quote {
    align-self: flex-start;
    margin: 0 0 80px 40px;
    font-size: 60px;
    color: #14141e;
    font-weight: 700;
    text-shadow: 2px 2px 2px whitesmoke; }
  .Main .endorsements {
    background-color: rgba(255, 255, 255, 0.7);
    width: 60%;
    margin-bottom: 30px;
    margin-left: 20px; }
  .Main .Main-Content {
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    margin-left: 20px; }
