@import '_variables.scss';

.About {
  @include main-bg;
  color: $black;
  height: 90vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  border-bottom: 2px solid $gray;

  .About-Content {
    background-color: transparentize($white, 0.3);
    align-self: center;
    width: 50%;
  }

  .About-Image {
    align-self: center;
    width: 50%;

    img {
      border: 3px $primary solid;
      border-radius: 50%;
    }
  }
}