/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Header {
  color: #14141e;
  background-color: white;
  min-height: 15vh;
  max-height: 15vh;
  width: 100%;
  z-index: 9999;
  top: 0;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  box-shadow: 3px 3px 3px #14141e; }
  .Header .header-image {
    box-sizing: border-box;
    background-color: white;
    padding-top: 8px;
    height: 100%; }
  .Header .header-rows {
    width: 100%; }
    .Header .header-rows .header-top-row {
      background: linear-gradient(#02ACF4, #FEFEFE);
      display: flex;
      justify-content: center;
      height: 50px; }
      .Header .header-rows .header-top-row .header-contact {
        align-self: center;
        width: 100%;
        margin-left: 20px; }
      .Header .header-rows .header-top-row .header-donate {
        align-self: center;
        text-align: right;
        width: 100%;
        margin-right: 20px; }
    .Header .header-rows .header-bottom-row {
      display: flex;
      background-color: #fefefe;
      overflow: hidden;
      height: 80px; }
      .Header .header-rows .header-bottom-row .navbar {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%; }
        .Header .header-rows .header-bottom-row .navbar ul {
          display: flex;
          justify-content: flex-start;
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          width: 100%; }
          .Header .header-rows .header-bottom-row .navbar ul li {
            margin-left: 50px; }
            .Header .header-rows .header-bottom-row .navbar ul li a {
              display: block;
              color: black;
              text-align: center;
              padding: 10px 16px;
              text-decoration: none;
              font-size: 20px; }
            .Header .header-rows .header-bottom-row .navbar ul li a:hover {
              background-color: lightcyan; }
            .Header .header-rows .header-bottom-row .navbar ul li .active {
              border-bottom: 3px solid red; }
          .Header .header-rows .header-bottom-row .navbar ul li:nth-child(5) {
            margin-left: auto;
            background-color: gold; }
            .Header .header-rows .header-bottom-row .navbar ul li:nth-child(5) a:hover {
              background-color: red;
              color: white; }

/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Main {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/ec-bg.png");
  color: #14141e;
  height: 75vh;
  padding-top: 20vh;
  display: flex;
  flex-flow: column nowrap; }
  .Main .Main-Quote {
    align-self: flex-start;
    margin: 0 0 40px 40px;
    font-size: 60px;
    color: #14141e;
    font-weight: 700;
    text-shadow: 2px 2px 2px whitesmoke; }
  .Main .endorsements {
    color: black;
    width: 60%;
    margin-bottom: 30px;
    margin-left: 20px; }
    .Main .endorsements p {
      border-left: 4px solid blue;
      border-right: 4px solid blue;
      background-color: rgba(255, 255, 255, 0.2); }
  .Main .Main-Content {
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    margin-left: 20px; }

/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.About {
  background: linear-gradient(#02acf4, #FEFEFE);
  color: #14141e;
  height: 75vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-top: 20vh; }
  .About .About-Content {
    background-color: rgba(255, 255, 255, 0.7);
    align-self: center;
    width: 60%; }
  .About .About-Image {
    align-self: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    .About .About-Image img {
      border: 3px #5C5D8D solid;
      border-radius: 50%;
      box-shadow: 5px 5px 10px gray;
      align-self: center;
      width: 100%;
      height: auto; }

/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Issues {
  background: linear-gradient(#02acf4, #FEFEFE);
  color: #14141e;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  padding-top: 20vh; }
  .Issues .Issues-Content {
    background-color: rgba(255, 255, 255, 0.7);
    align-self: center;
    width: 80%;
    max-height: 60vh;
    margin-left: 20px;
    overflow: scroll; }
  .Issues .Issues-Image {
    align-self: flex-end; }

/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Involve {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/ec-bg2.png");
  color: #14141e;
  height: 75vh;
  display: flex;
  justify-content: flex-end;
  padding-top: 20vh; }
  .Involve .Involve-Content {
    color: red;
    align-self: center;
    width: 50%;
    margin-right: 20px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; }
    .Involve .Involve-Content h1 {
      border-bottom: 3px solid red; }
    .Involve .Involve-Content ul {
      align-self: center;
      display: flex;
      flex-flow: column nowrap;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 400px; }
      .Involve .Involve-Content ul li {
        display: flex;
        align-self: center;
        line-height: 30px;
        font-size: 20px;
        font-weight: bolder; }
        .Involve .Involve-Content ul li a {
          align-self: center;
          display: block;
          color: #000;
          padding: 8px 16px;
          text-decoration: none; }
        .Involve .Involve-Content ul li a:hover {
          background-color: #555;
          color: white; }

/*******************************************************************************
																	STYLING
*******************************************************************************/
/*******************************************************************************
															MEDIA QUERIES
*******************************************************************************/
/*******************************************************************************
																	MIXINS
*******************************************************************************/
.Footer {
  background: linear-gradient(#FEFEFE, #02ACF4);
  background-color: #878787;
  color: #ffffff;
  height: 5vh;
  max-height: 5vh;
  display: flex;
  flex-flow: row nowrap;
  border-top: 2px solid gray; }
  .Footer .copyright {
    align-self: center;
    width: 100%;
    margin-left: 20px; }
  .Footer .social {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-around; }

.App {
  min-height: 100vh; }

h1 {
  margin-left: 30px; }
