@import '_variables.scss';

.Issues {
  @include main-bg-rev;
  color: $black;
  height: $main-height;
  display: flex;
  justify-content: space-between;

  .Issues-Content {
    background-color: transparentize($white, 0.3);
    align-self: center;
    width: 80%;
    max-height: 60vh;
    overflow: scroll;
    
  }

  .Issues-Image {
    align-self: flex-end;
  }
}