@import '_variables.scss';

.Main {
  @include parallax;
  background-image: url('/images/ec-bg.jpg');
  color: $black;
  height: 80vh;
  padding-top: 20vh;
  display: flex;
  justify-content: flex-start;

  .Welcome {
    background-color: transparentize($white, 0.3);
    align-self: center;
    width: 50%;
  }
}
