@import '_variables.scss';

.Main {
  @include parallax;
  background-image: url('/images/ec-bg.jpg');
  color: $black;
  height: 80vh;
  padding-top: 20vh;

  h1 {
    margin-top: 0;
    padding-top: 30px;
    font-size: $huge
  }
}

.About, .Issues, .Plan, .Involve {
  @include main-bg;
  color: $black;
  height: 80vh;

  h1 {
    margin-top: 0;
    padding-top: 30px;
    font-size: $huge
  }
}
